{% extends "base.html" %}
{% load static %}


{% block title %}Login{% endblock %}

{% block content %}

<div class="login-box">
    <h1 class="login-title">Login</h1>

    <form method="post" action="{% url 'login' %}">

        {% csrf_token %}

        <label class="lux-label">Username</label>
        {{ form.username }}

        <label class="lux-label">Password</label>
        {{ form.password }}

        <button type="submit" class="lux-btn">Login</button>
    </form>
</div>

<style>
.login-box {
    width: 400px;
    margin: 60px auto;
    padding: 40px;
    background: #161616;
    border-radius: 14px;
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 20px rgba(197,160,82,0.18);
}

.login-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
    color: #f5d67b;
}

.lux-label {
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    color: #d7c98c;
}

input {
    width: 100%;
    padding: 12px;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    color: #fff;
    margin-bottom: 15px;
}

input:focus {
    border-color: #f5d67b;
    box-shadow: 0 0 7px rgba(245,214,123,0.4);
}

.lux-btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #f5d67b, #d8b35b);
    border: none;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.25s;
}

.lux-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(245,214,123,0.35);
}
</style>

{% endblock %}
